<div class="footer-container">
    <div class="open-text">The project is completely open. The source code is hosted on <a href="https://github.com/givin/givin.github.io"><strong>GITHUB</strong></a></div>
    <div class="copyright"> © 2015 Givin</div>
</div>


<script src="//oss.maxcdn.com/signet/0.4.4/signet.min.js"></script>
<script src="/hood/js/vendor.min.js"></script>
<script src="/hood/js/source.min.js"></script>

</body>
</html>
