$cherry : lighten( #9F2042, 10% );
$cherry-white : #F8E5EE;
$yellow : #FA9F42;
$bright-yellow : #FFD800;
$black : #3c3c3c;
$lighter-black : lighten( $black, 10% );
$light-blue : lighten( #6F6D8A, 30% );
$border-blue : lighten( #6F6D8A, 25% );
$blue-red : #E55B6B;
$green : #BCDE73;
