/* ==========================================================================
   CSS STYLES FOR LANDING PAGE
   ========================================================================== */
.landing-page {
  position: relative;
  overflow: hidden;
  padding: 10vh 10%;
  .logo {
    position: relative;
    overflow: hidden;
    width: 100px;
    img {
      max-width: 100%;
    }
  }

  h1 {
    font-family: $type-title;
    margin: .2em 0;
    font-weight: 300;
  }
  .job-container {
    position: relative;
    overflow: hidden;
    padding: 20px 5% 20px 0;
    width: 60%;
    float: left;
    .job-item {
      position: relative;
      overflow: hidden;
      margin: 4em 0;
      float: left;
      .job-item-title {
        position: relative;
        overflow: hidden;
        font-weight: 700;
        margin: 0;
      }
      .job-company {
        @extend %type-s;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
        overflow: hidden;
        color: lighten( #3c3c3c, 40% );
      }
      .job-description {
        position: relative;
        overflow: hidden;
        padding: 1em 0;
        line-height: 1.5;
        color: #3c3c3c;
      }
      .job-view-button {
        @extend %type-xs;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #4B6982;
        border: 1px solid darken( #4B6982, 10% );
        position: relative;
        padding: 0.5em 1em;
        border-radius: 4px;
        width: 120px;
        text-align: center;
      }
    }
  }
}

.side-container {
  width: 35%;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  float: right;
  .job-post-container {
    position: relative;
    overflow: hidden;
    padding: 30px 10%;
    border: 5px solid $border-blue;
    background: $light-blue;
    border-radius: 4px;
    margin: 50px 0;
    .job-post-image {
      @extend %type-l;
      position: relative;
      overflow: hidden;
      color: darken( $border-blue, 15% );
    }
    .job-post-title {
      position: relative;
      overflow: hidden;
      color: darken( $border-blue, 15% );
      margin: 0;
      font-family: $type-title;
      font-weight: 300;
    }
    .job-post-text {
      @extend %type-s;
      position: relative;
      overflow: hidden;
      padding: 1em 0;
    }
    .job-post-button {
      @extend %type-xs;
      position: relative;
      overflow: hidden;
      width: 150px;
      // margin: 0 auto;
      padding: 0.5em 1em;
      border-radius: 4px;
      background: $blue-red;
      border: 2px solid darken( $blue-red, 5% );
      text-align: center;
      color: white;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 1em 0;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      &:hover {
        background: darken( $blue-red, 5% );
        border-color: darken( $blue-red, 10% );
      }

    }
  }
  .job-role-container {
    position: relative;
    overflow: hidden;
    padding: 20px 5%;
    background: #f1f1f1;
    border: 5px solid darken( #f1f1f1, 5% );
    .job-role-title {
      position: relative;
      overflow: hidden;
      font-family: $type-title;
      font-weight: 400;
      margin: 0;
      color: lighten( #3c3c3c, 10% );
      padding: 1em 0;
    }
    .job-role-item {
      position: relative;
      overflow: hidden;
      width: 100%;
      float: left;
      clear: both;
      padding: 1em 0;
      border-bottom: 1px solid darken( #f1f1f1, 5% );
      cursor: pointer;
      .job-role-avatar {
        width: 100px;
        float: left;
        position: relative;
        overflow: hidden;
        opacity: 0.5;
        img {
          max-width: 100%;
          display: inline;
        }
        .avatar-male {
          display: none;
        }
        .avatar-female {
          display: block;
        }
        &:hover {
          .avatar-male {
            display: block;
          }
          .avatar-female {
            display: none;
          }
        }
      }
      .job-role-info {
        @extend %type-s;
        position: relative;
        overflow: hidden;
        // float: left;
        .job-role-info-title {
          position: relative;
          overflow: hidden;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 700;
        }
        .job-role-subtext {
          @extend %type-xs;
          line-height: 1.5;
        }
      }
    }
  }


}
